<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CarShop</title>
    <meta name="keywords" content="CarShop, sell car online, buy car online" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="CarShop is a website that provides opportunities to sell and buy peoples' cars" />
    <meta name="author" content="Denis Verepa denisjava2003@gmail.com, github = https://github.com/DenisVerDev" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #464646;">
        @Html.ActionLink("CARSHOP", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlinks">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarlinks">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("About us", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item"> <!--TODO: check if user is entered into his account, then hide it-->
                    @Html.ActionLink("Registration", "Registration", "Account", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item"> <!--TODO: check if user is entered into his account, then show his acc name instead!-->
                    <a href="#">
                        <img class="btn-cab" src="~/Content/Images/btnlogin.svg" width="36px" height="36px" style="margin-top:2pt"/>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>

</html>
